.custom-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(192, 192, 100, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-btn svg,
.next-btn svg {
  font-size: 20px;
  color: #555;
}

.prev-btn:hover,
.next-btn:hover {
  border: 1px solid #1d6196;
}
.prev-btn:hover svg,
.next-btn:hover svg {
  color: #1d6196;
}

@media only screen and (max-width: 768px) {
  .prev-btn,
  .next-btn {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgba(192, 192, 100, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prev-btn svg,
  .next-btn svg {
    font-size: 20px;
    font-weight: 200;
    color: #555;
  }
}
