.reviews {
  margin-top: 100px;
}
/* .reviews .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
}

.reviews .swiper-slide.active-slide {
  transform: scale(1.2);
  opacity: 1;
}

.reviews .swiper-slide:not(.active-slide) {
  transform: scale(0.5);
} */
.reviews .reviews-content {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .review {
    justify-content: center;
  }
  .review .name {
    text-align: center;
  }
  .review p {
    text-align: center;
  }
}
